.react-select {
  box-shadow: 0px 0px 15px 2px #ccc;
}

.select-options-custom:not:first-child:hover {
  background: #ccc;
}

.is-selected {
  background-color: white;
}

.divs {
  margin: 50px;
  label {
    margin-right: 12px;
  }
  div {
    margin-right: 10px;
    display: inline-block;
  }
  input {
    margin-right: 10px;
  }
}

.select-class {
  width: 55%;
  float: left;
  margin-left: 1em;
}

.select-label {
  float: left;
}
.select-custom {
  width: 30%;
  margin: 50px;
  position: relative;
  height: 15px;
}

.date-time {
  margin: 50px;
  clear: left;
}
